<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="shortcut icon" href="https://char2int.com/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://char2int.com/assets/favicon.ico" type="image/x-icon">
    <link href='https://char2int.com/feed.xml' rel='alternate' type='application/atom+xml'>
    <link rel="canonical" href="https://char2int.com{{ page.url }}">
    <link rel="stylesheet" href="https://char2int.com/assets/style.css">
</head>

<body>
